<header class="header">
  <div class="header__container container">
    <a href="" class="header__logo"><img src="/assets/images/logo.png" alt="Logo"></a>
    <div class="header__menu menu">
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item"><a routerLink="#" class="menu__link">Пицца</a></li>
					<li class="menu__item"><a routerLink="#" class="menu__link">Напитки</a></li>
					<li class="menu__item"><a routerLink="#" class="menu__link">Доставка и оплата</a></li>
					<li class="menu__item"><a routerLink="#" class="menu__link">Контакты</a></li>
				</ul>
			</nav>
		</div>
  </div>
</header>
