@import '../../assets//scss/mixins';

.header {
	z-index: 100;
	font-family: 'Muller';
	background-color: white;
	box-shadow: 0px 0px 13px 0px rgb(0 0 0 / 21%);
	&__container {
		display: flex;
		align-items: center;
		gap: rem(248);
		padding-bottom: rem(5);
		padding-top: rem(5);
		min-height: 100px;
		@media (max-width: em(991.98)) {
			flex-direction: column;
			gap: rem(25);
		}
	}
}
.menu {
	&__list {
		cursor: pointer;
		@media (min-width: em(489.98)) {
			display: flex;
			flex-wrap: wrap;
			row-gap: rem(5);
			@include adaptiveValue("column-gap", 50, 25, 0, 1200, 489);
		}
	}
	&__item {
		@media (max-width: em(489.98)) {
			text-align: center;
			&:not(:last-child) {
				margin-bottom: rem(20);
			}
		}
	}
	&__link {
		font-size: rem(16);
		line-height: 1%;
		color: #a46b00;
		transition: color 0.8s ease 0s;
	
		@media (any-hover: hover) {
			&:hover {
				color: #3a2601;
			}
		}
	}
}
