@import '../../assets//scss/mixins';

.main-section {
	@include adaptiveValue("margin-top", 132, 45);
	@include adaptiveValue("padding-bottom", 160, 5);
	&__container {
		display: flex;
		justify-content: space-between;
		align-items: center;
	
		@media (max-width: em(1199.98)) {
			flex-direction: column;
			gap: rem(45);
		}
	}
	&__title {
		line-height: 55px;
		max-width: rem(625);
		@include adaptiveValue("font-size", 45, 40);
		&:not(:last-child) {
			@include adaptiveValue("margin-bottom", 60, 24);
		}
	}
	&__button {
		margin-top: rem(60);
	}
	&__image {
		transition: transform 0.8s ease 0s;
	
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	&__image img {	
		@media (max-width: em(599.98)) {
			width: 320px;
		}
		@media (max-width: em(380.98)) {
			width: 220px;
		}
	}
	&__advantages {
		width: 100%;
		display: grid;
		@include adaptiveValue("gap", 47, 20);
		grid-template-columns: repeat(2, rem(295));
		@media (max-width: em(650.98)) {
			grid-template-columns: repeat(1, rem(295));
			justify-content: center;
		}
	}
}
.advantage {
	display: flex;
	gap: rem(16);
	&__image {
		transition: transform 0.8s ease 0s;
	
		@media (any-hover: hover) {
			&:hover {
				transform: scale(1.1);
			}
		}
	}
	&__title {
		color: #ffaf18;
		font-weight: 800;
		line-height: 24px;
		text-transform: uppercase;
	}
	&__text {
		color: #b99150;
		line-height: 16px;
	}
}