<section class="page__main main-section">
	<div class="main-section__container container">
		<div class="main-section__info">
			<h1 class="main-section__title title">Самая вкусная пицца в мире <span>только в Pizza Cheff</span></h1>
			<div class="main-section__advantages">
				<article class="main-section__advantage advantage">
					<div class="advantage__image">
						<img src="./assets/images/main-section/advantages/01.png" alt="Advantage 1">
					</div>
					<div class="advantage__info">
						<h4 class="advantage__title">Лучшее тесто</h4>
						<div class="advantage__text">
							<p>
								Мы создаем тесто только из  отборной итальянской муки наивысшего качества
							</p>
						</div>
					</div>
				</article>
				<article class="main-section__advantage advantage">
					<div class="advantage__image">
						<img src="./assets/images/main-section/advantages/02.png" alt="Advantage 2">
					</div>
					<div class="advantage__info">
						<h4 class="advantage__title">Лучшие повара</h4>
						<div class="advantage__text">
							<p>
								Пиццы готовят самые профессиональные  итальянские повара
							</p>
						</div>
					</div>
				</article>
				<article class="main-section__advantage advantage">
					<div class="advantage__image">
						<img src="./assets/images/main-section/advantages/03.png" alt="Advantage 3">
					</div>
					<div class="advantage__info">
						<h4 class="advantage__title">Гарантия качества</h4>
						<div class="advantage__text">
							<p>
								Наша пиццерия получила множество наград и  признаний по всему миру
							</p>
						</div>
					</div>
				</article>
				<article class="main-section__advantage advantage">
					<div class="advantage__image">
						<img src="./assets/images/main-section/advantages/04.png" alt="Advantage 4">
					</div>
					<div class="advantage__info">
						<h4 class="advantage__title">Отборные рецепты</h4>
						<div class="advantage__text">
							<p>
								Мы используем рецепты от мировых лидеров в изготовлении пиццы
							</p>
						</div>
					</div>
				</article>
			</div>
			<a href="#menu" class="main-section__button button">Выбрать пиццу</a>
		</div>
		<div class="main-section__image">
			<img src="./assets/images/main-section/main-image/pizza.png" alt="Main image">
		</div>
	</div>
</section>
