<header class="header">
  <div class="header__container container">
    <a href="" class="header__logo"><img src="../assets/images/logo.png" alt="Logo"></a>
    <div class="header__menu menu">
			<nav class="menu__body">
				<ul class="menu__list">
					<li class="menu__item"><a routerLink="#" class="menu__link">Пицца</a></li>
					<li class="menu__item"><a routerLink="#" class="menu__link">Напитки</a></li>
					<li class="menu__item"><a routerLink="#" class="menu__link">Доставка и оплата</a></li>
					<li class="menu__item"><a routerLink="#" class="menu__link">Контакты</a></li>
				</ul>
			</nav>
		</div>
  </div>
</header>


<main class="page">
  <section class="page__main main-section">
    <div class="main-section__container container">
      <div class="main-section__info">
        <h1 class="main-section__title title">Самая вкусная пицца в мире <span>только в Pizza Cheff</span></h1>
        <div class="main-section__advantages">
          <article class="main-section__advantage advantage">
            <div class="advantage__image">
              <img src="../assets/images/main-section/advantages/01.png" alt="Advantage 1">
            </div>
            <div class="advantage__info">
              <h4 class="advantage__title">Лучшее тесто</h4>
              <div class="advantage__text">
                <p>
                  Мы создаем тесто только из  отборной итальянской муки наивысшего качества
                </p>
              </div>
            </div>
          </article>
          <article class="main-section__advantage advantage">
            <div class="advantage__image">
              <img src="../assets/images/main-section/advantages/02.png" alt="Advantage 2">
            </div>
            <div class="advantage__info">
              <h4 class="advantage__title">Лучшие повара</h4>
              <div class="advantage__text">
                <p>
                  Пиццы готовят самые профессиональные  итальянские повара
                </p>
              </div>
            </div>
          </article>
          <article class="main-section__advantage advantage">
            <div class="advantage__image">
              <img src="../assets/images/main-section/advantages/03.png" alt="Advantage 3">
            </div>
            <div class="advantage__info">
              <h4 class="advantage__title">Гарантия качества</h4>
              <div class="advantage__text">
                <p>
                  Наша пиццерия получила множество наград и  признаний по всему миру
                </p>
              </div>
            </div>
          </article>
          <article class="main-section__advantage advantage">
            <div class="advantage__image">
              <img src="../assets/images/main-section/advantages/04.png" alt="Advantage 4">
            </div>
            <div class="advantage__info">
              <h4 class="advantage__title">Отборные рецепты</h4>
              <div class="advantage__text">
                <p>
                  Мы используем рецепты от мировых лидеров в изготовлении пиццы
                </p>
              </div>
            </div>
          </article>
        </div>
        <a href="#menu" class="main-section__button button">Выбрать пиццу</a>
      </div>
      <div class="main-section__image">
        <img src="../assets/images/main-section/main-image/pizza.png" alt="Main image">
      </div>
    </div>
  </section>
  <section class="page__menu menu-section" id="menu">
    <div class="menu-section__container container">
      <h2 class="menu-section__title title">Выберите свою любимую пиццу</h2>
      <ng-template #loader>
        <p class="menu-section__loader">
          Загрузка меню...
        </p>
      </ng-template>
      <div class="menu-section__items" *ngIf="(this.items.length); else loader">
        <article class="menu-section__item item" *ngFor="let item of items">
          <div class="item__image" (click)="showItemImage(item.image)">
            <img [src]="item.image" alt="Item">
          </div>
          <h4 class="item__title">{{ item.title }}</h4>
          <div class="item__text">
            <p>
              {{ item.text }}
            </p>
          </div>
          <a href="" class="item__button button">В корзину</a>
        </article>
      </div>
    </div>
  </section>
</main>

<footer class="page__footer footer">
  <div class="footer__container container">
    <div class="footer__info">
      <div class="footer__title title"><span>Хватит думать!</span> Доставим заказ за 30 минут!</div>
      <div class="footer__text">
        <p>
          Мы  гарантированно доставим вашу пиццу за 30 минут с момента оформления заказа. Если мы опоздаем даже на 1 минуту - вы получаете весь заказ бесплатно и ваучер на скидку на следующий заказ. Мы гордимся нашим сервисом и сделаем всё, чтобы наш клиент был доволен и не остался голодный!
        </p>
      </div>
    </div>
    <div class="footer__order order">
			<form [formGroup]="orderForm" (ngSubmit)="onSubmit()" class="order__form form">
          <div class="form__item">
            <input
              id="name"
              type="text"
              placeholder="Ваше имя"
              class="form__input"
              formControlName="name"
              (keydown)="onKeyDown($event)"
              autocomplete="off"
              required
            >
					</div>
					<div class="form__item">
            <input
              id="name"
              type="text"
              placeholder="Адрес доставки"
              class="form__input"
              formControlName="address"
              autocomplete="off"
              required
            >
					</div>
          <div class="form__item">
            <input
              id="name"
              type="number"
              placeholder="Телефон"
              class="form__input"
              formControlName="phone"
              autocomplete="off"
              required
            >
					</div>
					<div class="form__item">
						<button type="submit" class="form__button button" [disabled]="orderForm.invalid">
              <span *ngIf="!submitted; else orderSuccess">
                Оформить заказ
              </span>
              <ng-template #orderSuccess>
                Спасибо за заказ!
              </ng-template>
            </button>
					</div>
			</form>
		</div>
    <img class="footer__image" src="../assets/images/footer/pizza.png" alt="Footer image">
  </div>
</footer>


<div class="modal" [ngClass]="{'show': showImage}" (click)="closeImage()">
  <div class="modal-content">
    <img [src]="modalImage" alt="modal image">
  </div>
</div>